.avatar-editor-container {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: inherit;
  background-color: #dfd9d0;
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 25px;
  border-radius: 15px;
}

/* Avatar */
.avatar-display {
  position: fixed;
  justify-content: center;
  height: 25em;
  bottom: 6em;
  left: 0em;
  width: auto;

  display: inline-block;
  pointer-events: none;
}

/* Equip button placed within title div */

.avatar-editor-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3.5em;
  z-index: 7;
}
.equip-button {
  font-family: "Pixelify Sans", serif;
  font-size: 1.2em;
  width: 100%;
  height: 90px;
  border: none;
  background-color: #f3f0eb;
  border-radius: 8px;
  box-shadow: 3px 3px 0px rgb(125, 125, 125);
}

.equip-button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgb(255, 255, 255);
}

/* Equipment */
.equipment-layer {
  position: absolute;
  top: 0;
  left: 0;
}

.equipment-category {
  width: 100%;
}

.equipment-category h5 {
  height: fit-content;
  margin: 0;
  padding-top: 5px;
}

.equipment-category button {
  width: fit-content;
  margin: 0px 2px;
  margin-bottom: 1em;
  border: 3px solid lightslategrey;
  background-color: #f3f0eb;
  border-radius: 8px;
  box-shadow: 3px 3px 0px rgb(125, 125, 125);
  z-index: 51;
}

.equipment-category button:hover {
  background-color: white;
}

.equipment-selection {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 55%;

  padding-right: 1em;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-bottom: 1em;
  height: fill;
  z-index: 4;
}

.equipment-thumbnail {
  width: 110px;
  height: auto;
  cursor: pointer;
}

/* Equipment Layers */
.hat {
  z-index: 2; /* Hat above base avatar */
}

.shirt {
  z-index: 3; /* Shirt above hat, pants, and boots */
}

.pants {
  z-index: 0; /* Pants behind the shirt */
}

.boots {
  z-index: 1; /* Boots behind the pants */
}

.weapon {
  z-index: 4; /* Weapon in front of all equipment */
}

/* Color Buttons */
button[title] {
  color: transparent;
  width: 70px;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 8px;
  gap: 0;
  margin: 0 2px;
  cursor: pointer;
}

/* Add hover effect */
button[title]:hover {
  box-shadow: 3px 3px 0px rgb(68, 62, 62);
}

@media (max-width: 750px) {
  .avatar-editor-container {
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    padding: 0;
  }

  .avatar-display {
    height: 10em;
    top: 7em;
    left: 6em;
  }

  .avatar-editor-title {
    margin-left: 0;
    text-align: center;
  }

  .equip-button {
    height: 2em;
    width: auto;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
  }

  .equipment-selection {
    padding-top: 0em;
    margin-top: 9.5em;
    flex-direction: row;
    width: fill;
  }

  .equipment-thumbnail {
    width: 80px;
  }

  .equipment-category button {
    width: 80%;
    margin-bottom: 0.5em;
  }

  button[title] {
    width: 50px;
    height: 20px;
  }
}
