.avatar-editor-container {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  height: inherit;
  background-color: #dfd9d0;
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 25px;
}

/* Avatar */
.avatar-display {
  position: absolute;
  bottom: 1em;
  left: 0.5em;
  width: auto;
  height: 100%;
  display: inline-block;
  pointer-events: none;
}

/* Equip button placed within title div */

.avatar-editor-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em;
  z-index: 7;
}
.equip-button {
  font-family: "Pixelify Sans", serif;
  font-size: 1.2em;
  width: 100%;
  border: none;
  background-color: #f3f0eb;
  border-radius: 4px;
  box-shadow: 3px 3px 0px rgb(125, 125, 125);
}

.equip-button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgb(255, 255, 255);
}

/* Equipment */
.equipment-layer {
  position: absolute;
  top: 0;
  left: 0;
}

.equipment-category h5 {
  height: fit-content;
  margin: 0;
  padding-top: 5px;
}

.equipment-category button {
  margin: 0px 2px;
  margin-bottom: 1em;
  border: 3px solid lightslategrey;
  background-color: #f3f0eb;
  border-radius: 4px;
  box-shadow: 3px 3px 0px rgb(125, 125, 125);
  z-index: 51;
}

.equipment-category button:hover {
  box-shadow: 3px 3px 0px black;
  background-color: white;
}

.equipment-selection {
  z-index: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 55%;
}

.equipment-thumbnail {
  width: 110px;
  height: auto;
  cursor: pointer;
}

/* Equipment Layers */
.hat {
  z-index: 2; /* Hat above base avatar */
}

.shirt {
  z-index: 3; /* Shirt above hat, pants, and boots */
}

.pants {
  z-index: 0; /* Pants behind the shirt */
}

.boots {
  z-index: 1; /* Boots behind the pants */
}

.weapon {
  z-index: 4; /* Weapon in front of all equipment */
}

/* Color Buttons */
button[title="base"],
button[title="blue"],
button[title="green"],
button[title="limegreen"],
button[title="orange"],
button[title="pink"],
button[title="purple"],
button[title="red"],
button[title="turquoise"],
button[title="yellow"] {
  color: transparent;
  width: 70px;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 4px;
  gap: 0;
  margin: 0 2px;
  cursor: pointer;
}
