.Footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  flex-shrink: 0;
  width: 100%;
  min-width: 300px;
  height: 250px;
  background-color: none;
  z-index: 1;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  padding-bottom: 20px;
}
