.LoginContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 250px;
  min-width: 400px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  box-shadow: 0px 900px 0px 1000vmax #8560573e;

  /* Background settings */
  background-image: url("/assets/scenes/thefieldsoffrollicking.png");
  background-repeat: repeat-x;
  background-size: 575%;
  background-position: left center;

  /* Animation */
  animation: scrollBackground 300s linear infinite;
}

/* Keyframes for scrolling effect */
@keyframes scrollBackground {
  0% {
    background-position-x: 0;
  } /* Start on the left */
  100% {
    background-position-x: 100%;
  } /* Move to the right */
}

/* Title styling */
.LoginContainer h1 {
  margin-top: 75px;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  justify-self: center;
  font-family: "Pixelify Sans", serif;
  opacity: 60%;
}

/* Button & Select styling */
.LoginContainer button,
.LoginContainer select {
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}

/* Button specific styling */
.LoginContainer button {
  width: 100px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.LoginContainer button:hover {
  background-color: #45a049;
}
