.Modal {
  z-index: 10;
  display: flex;
  position: fixed;
  justify-content: center;
  
  top: 35%;
  left: 50%;
  transform: translate(-50%, -40%);

  height: 75%;
  min-height: 500px;
  max-width: 850px;
  width: 80%;

  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.7);
  background-color: whitesmoke;
  border: solid #554c49 8px;
  border-radius: 15px;
}

.Modal-button {
  position: absolute;
  top: 10px;
  left: 10px;

  font-size: 2em;
  height: 1.5em;
  width: 1.5em;
  z-index: 101;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 0px rgb(125, 125, 125);
}

.Modal-button:hover {
  background-color: rgb(255, 255, 255);
}

.Modal-content {
  height: 100%;
  width: 100%;
  background-color: #dfd9d0;
  border-radius: 8px;
}

@media (max-width: 750px) {
  .Modal {
    top: 37%;
    width: 90%;
    height: 85%;
  }
  .Modal-content {
    height: fill;
    width: fill;
  }
}