.NavBar {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  background-color: #1f1815;
}

.NavBar-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo-box {
  width: max-content;
  min-width: fit-content;
  height: inherit;
}

/* .NavBar-logo for the stripe purchase page */
.Logo,
.Logo-small,
.NavBar-logo {
  padding-top: 0.1em;
  color: #9d9084;
  font-family: "Jacquard 12", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  margin: 0;
}

.NavBar-logo a,
a {
  text-decoration: none;
}

.Logo-small {
  display: none;
  width: 55px;
}

@media (max-width: 800px) {
  .Logo,
  .desktop-username {
    display: none;
  }
  .Logo-small {
    display: flex;
    font-size: 3em;
  }
}
