.NavBar {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  background-color: #9d9084;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.NavBar-item {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.Logo-box {
  width: fit-content;
  height: inherit;
}

/* .NavBar-logo for the stripe purchase page */
.Logo,
.NavBar-logo {
  color: #1f1815;
  font-family: "Jacquard 12", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
  margin: 0;
}

.NavBar-logo a {
  color: #1f1815;
  text-decoration: none;
}

.UserLogOutContainer {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;
  font-size: 19px;
  width: fit-content;
  color: #1f1815;
}


.UserLogOutContainer button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(222, 217, 208, 0.63);
  transition: 0.5s ease-out;
}

.UserLogOutContainer button:hover {
  cursor: pointer;
  background-color: #f2f4f8;
  transition: 0s;
}


a {
  text-decoration: none;
}

@media (max-width: 999px) {
  .Logo {
    font-size: calc(5.5vw);
  }
  .desktop-username {
    display: none;
  }
}
