.PurchaseGoldStripe {
  font-family: "Pixelify Sans", serif;

  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

  top: 105%;
  left: 50%;
  transform: translate(-50%, -40%);

  height: 6em;
  max-width: 850px;
  width: 100%;

  background-color: whitesmoke;
  border: solid #554c49 8px;
  border-radius: 15px;

  background-color: #dfd9d0;
  border: solid #554c49 8px;
  border-radius: 15px;
}

.PurchaseGoldStripe-ad {
  width: 50%;
}

.PurchaseGoldStripe-link:hover::before {
  content: none;
}

.PurchaseGoldStripe-link {
  width: 400px;
}

.PurchaseGoldStripe-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 90px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;

  font-family: "Pixelify Sans", serif;
  font-size: 1em;
  border: none;
  background-color: #f3f0eb;
  border-radius: 8px;
  box-shadow: 3px 3px 0px rgb(125, 125, 125);
}

.PurchaseGoldStripe-button:hover {
  background-color: white;
}

.Store-Stripe-Banner {
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 750px) {
  .PurchaseGoldStripe-button {
    width: 200px;
  }
  .PurchaseGoldStripe-link {
    width: 200px;
  }
  .PurchaseGoldStripe {
    top: 100%;
  }
}
