.QuestComplete-choice {
  height: 250px;
  width: 100%;
  min-width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2em;
}

.QuestComplete-description {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: fit-content;
}

.QuestComplete-congrats {
  font-size: 1.2em;
}

.QuestComplete-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 0.5em;
}

.QuestComplete-button {
  font-family: "Pixelify Sans", serif;
  font-size: 1.2em;
  padding: 0.5em;
  border: none;
  background-color: #f3f0eb;
  border-radius: 8px;
  box-shadow: 3px 3px 0px rgb(125, 125, 125);
  width: 100%;
}

.QuestComplete-button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgb(255, 255, 255);
}

.QuestComplete-result {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  color: blueviolet;
  background-color: transparent;
}

@media (max-width: 750px) {
  .QuestComplete-description {
    font-size: 16px;
  }
  .QuestComplete-button {
    font-size: large;
    padding: 0.1em;
    width: 100%;
  }
}
