.QuestInfo {
  display: flex;
  flex-direction: column;
  height: 200px;
  min-width: 375px;
  width: 75%;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #dfd9d0;
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  border-radius: 18px;
}

.QuestInfo-body {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
}

.QuestInfo-title {
  font-family: "Jacquard 12", serif;
  font-size: 1.2em;
}

@media (max-width: 750px) {
  .QuestInfo-description {
    font-size: 15px;
  }
}
