.QuestComplete-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.QuestComplete-choice i {
  padding-top: 1em;
}

.QuestComplete-congrats {
  font-family: "Jacquard 12", serif;
  font-size: 27px;
  padding-bottom: 1em;
}

.QuestComplete-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 1em;
}

.QuestComplete-button {
  font-size: larger;
  padding: 0.5em;
}

.QuestComplete-result {
  font-size: 26px;
  padding: 0em;
  color: aqua;
  background-color: black;
}

@media (max-width: 999px) {
  .QuestComplete-description {
    font-size: 15px;
  }
  .QuestComplete-congrats {
    font-size: 1.2em;
  }
  .QuestComplete-button {
    font-size: large;
    padding: 0.4em;
  }
}
