
.QuestInfo {
  display: flex;
  flex-direction: column;
  height: 250px; /* Allow content to dictate height */
  width: calc(100% -em); /* Prevent it from taking full width */
  box-sizing: border-box;
  margin: 0 auto; /* Center it inside .Footer */
  padding: 1em;
  background-color: #dfd9d0;
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  border-radius: 18px;
}


.QuestInfo-body {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
}

.QuestInfo-title {
  font-family: "Jacquard 12", serif;
  font-size: 1.5em;
}

@media (max-width: 750px) {
  .QuestInfo-description {
    font-size: 14px;
  }
  .QuestInfo-title {
    font-size: 1em;
  }
}
