.QuestInfo {
  display: flex;
  flex-direction: column;
  height: 200px;
  min-width: 500px;
  width: 75%;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #dfd9d0;
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
}

.QuestInfo-body {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
}

.QuestInfo-title {
  font-family: "Jacquard 12", serif;
  font-size: 27px;
}

@media (max-width: 999px) {
  .QuestInfo-body {
    font-size: calc(0.5rem + 1vw);
  }
  .QuestInfo-title {
    font-size: calc(1rem + 1vw);
  }
  .QuestInfo-description {
    font-size: calc(0.5rem + 1vw);
  }
}
