.StepVisualizer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-self: center;
  margin: 0 auto;
  background-image: url("/assets/scenes/start.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-size: calc(0.6rem + 1.1vh);
  font-family: "Pixelify Sans", serif;
  font-weight: 500;
  border-radius: 18px;
  width: calc(100% - 30px);
  max-height: 450px;
  min-width: 300px;
  margin-top: 1em;
}
.StepVisualizer-progress,
.LocationDiv {
  color: white;
  text-shadow: 1px 1px 0px #ff6a6a;
}

.LocationDiv,
.LocationP {
  z-index: 0;
  width: stretch;
}
.StepVisualizer-progress {
  z-index: 0;
}

.StepVisualizer-character {
  z-index: 0;
  position: absolute;
  top: 44%;
  transform: translate(-50%, -50%);
  height: 100%;
  margin-right: 3em;
}

.AddProgressDiv form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.gold-earned-notification {
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Pixelify Sans", serif;
  font-size: larger;
  font-weight: 600;
  color: #ffd700;
  text-shadow: 1px 1px 0px #000000;
  background-color: #4f4c46ea;
  border-radius: 18px;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1;
}

.AddProgressDiv {
  position: relative;
}

.AddProgressDiv input {
  background-color: rgba(240, 248, 255, 0.636);
  text-align: center;
  outline: none;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  z-index: 1;
}
.AddProgressDiv button,
.AddProgressDiv input:is(:disabled) {
  color: transparent;
  background-color: transparent;
}

.AddProgressDiv button:not(:disabled) {
  color: whitesmoke;
  background-color: #4caf50;
}
.AddProgressDiv button {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.AddProgressDiv input,
.AddProgressDiv button {
  font-family: "Pixelify Sans", serif;
  font-weight: 500;
  width: 7em;
  flex-grow: 1;
  transition: 0.5s ease-out;
  box-sizing: border-box;
  border: none;
  font-size: calc(0.6rem + 1.1vh);
  height: 2em;
}
.AddProgressDiv button:not(:disabled):hover {
  cursor: pointer;
  background-color: #45a049;
  transition: background-color 0.3s ease;
}

.LocationDiv,
.StepVisualizer-progress,
.AddProgressDiv {
  flex: 1;
  text-align: center;
  margin: 0 auto;
}

.StepVisualizer-textbackground {
  background-color: #4f4c46af;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  border-radius: 18px;
}

.StepVisualizer-goal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(1em + 4vh);
}

.StepVisualizer-gold {
  color: #ffd700;
  background-color: black;
  width: 4em;
  align-content: center;
  min-width: fit-content;
  height: 100%;
  border-radius: 18px;
  font-size: calc(1rem + 1vh);
}

@media (max-width: 900px) {
  .StepVisualizer {
    max-height: 250px;
    flex-direction: column;
  }
  .StepVisualizer-textbackground {
    background-color: #4f4c46af;
    height: 50px;
  }
  .AddProgressDiv {
    position: absolute;
    font-size: medium;
    top: 0;
    width: stretch;
    text-align: space-between;
  }
  .AddProgressDiv input {
    background-color: rgba(240, 248, 255, 0.489);
  }

  .AddProgressDiv button,
  .AddProgressDiv input {
    font-size: large;
    height: 50px;
  }

  .AddProgressDiv .StepVisualizer-textbackground {
    background-color: transparent;
  }
  .StepVisualizer-progress,
  .LocationDiv {
    color: white;
    text-shadow: 1px 1px 0px #ff6a6a;
    position: absolute;
    font-size: small;
    width: 50%;
    bottom: 0;
  }

  .StepVisualizer-progress {
    z-index: 1;
    left: 0;
  }

  .LocationDiv {
    right: 0;
    z-index: 1;
  }
  .StepVisualizer-gold {
    background-color: transparent;
  }
}
