.StepVisualizer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: calc(100% - 2em);
  min-height: 130px;
  margin-top: 1em;
  background-image: url("/assets/scenes/start.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-size: calc(0.6rem + 1.1vh);
  font-family: "Pixelify Sans", serif;
  font-weight: 500;
}

.LocationDiv,
.LocationP {
  z-index: 0;
  width: 10em;
}
.StepVisualizer-progress {
  z-index: 0;
}

.StepVisualizer-character {
  z-index: 0;
  position: absolute;
  top: 44%;
  transform: translate(-50%, -50%);
  height: 100%;
  margin-right: 3em;
}

.AddProgressDiv form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.gold-earned-notification {
  position: absolute;
  top: calc(100% + 1em);
  font-family: "Pixelify Sans", serif;
  font-weight: 600;
  color: #ffd700;
  background-color: black;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  z-index: 1;
}
.AddProgressDiv input {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  text-align: right;
  outline: none;
  border: none;
}

.AddProgressDiv button {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.AddProgressDiv input,
.AddProgressDiv button {
  font-family: "Pixelify Sans", serif;
  font-weight: 500;
  width: 7em;
  flex-grow: 1;
  transition: 0.5s ease-out;
  box-sizing: border-box;
  border: none;
  font-size: calc(0.6rem + 1.1vh);
  height: 2em;
}

.AddProgressDiv button:not(:disabled):hover {
  cursor: pointer;
  background-color: rgb(195, 231, 190);
  transition: 0s;
}

.LocationDiv,
.StepVisualizer-progress,
.AddProgressDiv {
  flex: 1;
  min-width: 14em;
  text-align: center;
  margin: 0 auto;
}

.StepVisualizer-textbackground {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfd9d0;
  width: 14em;
  height: 2em;
  border-radius: 12px;
}

.StepVisualizer-goal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(1em + 4vh);
}

.StepVisualizer-gold {
  color: #ffd700;
  background-color: black;
  width: 4em;
  min-width: fit-content;
  height: 100%;
  border-radius: 12px;
  font-size: calc(1rem + 1vh);
}
